@import url(../photo-grid/__item/photo-grid__item.css);
.photo-grid {
  display: grid;
  max-width: 1184px;
  margin: 92px auto 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, minmax(auto, 213px));
  gap: 16px;
}
@media screen and (max-width: 1024px) {
  .photo-grid {
    display: grid;
    max-width: 928px;
    margin: 92px auto 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, minmax(auto, 225px));
    gap: 14px;
  }
}
@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, minmax(auto, 264px));
    grid-gap: 16px;
  }
}
@media screen and (max-width: 450px) {
  .photo-grid {
    margin: 65px 12px 0 12px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 216px);
    grid-gap: 12px;
  }
}
