@import url(../header/__lang/header__lang.css);
@import url(../header/__lang/__lang-link/header__lang-link.css);
@import url(../header/__lang/__lang-link/_active/header__lang-link_active.css);
@import url(../header/__logo/header__logo.css);
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 48px;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0 22px;
  }
}
@media screen and (max-width: 450px) {
  .header {
    padding: 0 15px 30px 15px;
  }
}
