.lead__image {
  max-width: 100%;
  margin: 65px 0 0 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .lead__image {
    margin: 53px 0 0 0;
  }
}
@media screen and (max-width: 450px) {
  .lead__image {
    margin: 40px 0 0 0;
  }
}
