.root {
  font-family: 'Inter', Arial, sans-serif;;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #2A2C2F;
  color: white;
  min-width: 320px;
}
