@import url(../place/__title/place__title.css);
@import url(../place/__url-heading/place__url-heading.css);
@import url(../place/__website/place__website.css);
@import url(../place/__url/place__url.css);
@import url(../place/__paragraph/place__paragraph.css);
@import url(../place/__image/place__image.css);

.place {
  margin: 0 auto 80px auto;
  display: grid;
  grid-template-columns: 19fr 20fr;
  grid-template-rows: auto auto;
  gap: 50px 40px;
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 1fr;
    margin: 48px 0 0 0;
    gap: 20px 20px;
  }
}
@media screen and (max-width: 650px) {
  .place {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    margin: 48px 0 0 0;
    gap: 20px 20px;
  }
}

@media screen and (max-width: 450px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
    margin: 48px 0 0 0;
  }

}
