@import url(../footer/__nav/footer__nav.css);
@import url(../footer/__nav-links/__nav-links.css);
@import url(../footer/__nav-link/footer__nav-link.css);
@import url(../footer/__copyright/footer__copyright.css);
.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 768px;
    padding: 0 22px;
  }
}
@media screen and  (max-width: 680px) {
  .footer {
    flex-direction: column;
  }
}
@media screen and  (max-width: 450px) {
  .footer {
    margin: 0 15px;
    max-width: 450px;
    padding: 0;
  }
}
