.intro__content {
  margin: 40px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
@media screen and  (max-width: 1024px) {
  .intro__content {
    margin: 40px 24px 0 24px;
  }
}
@media screen and  (max-width: 425px) {
  .intro__content {
    margin: 40px 16px 0 16px;
  }
}
